---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">{% include date.html %}</span>
        <p>
          {{ post.excerpt }}
          {% if post.language == 'en' %}
            <a href="{{ post.url | prepend: site.baseurl }}">(read more)</a>
          {% else %}
            <a href="{{ post.url | prepend: site.baseurl }}">(lire la suite)</a>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
